<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>ALTIRE API | Products</title>
</head>
<body>
    <div class="side-nav">
        <div class="close-btn">
            <span>&times;</span>
        </div>
        <div class="links">
            <a href="index.html">User</a>
            <a href="product.html">Products</a>
            <a href="store.html">Store</a>
            <a href="post.html">Posts</a>
            <a href="review.html">Review</a>
            <a href="#">Category</a>
            <a href="#">Order</a>
            <a href="#">Measurement</a>
            <a href="#">Wishlist</a>
            <a href="#">Billing</a>
            <a href="#">Payment</a>
            <a href="#">Chat</a>
        </div>
    </div>

    <center><h1>ALTIRE API</h1></center>
    <div class="endpoint">
        <center>
           <b>API Endpoint</b> https://floating-badlands-37340.herokuapp.com/api
        </center>
    </div>
    <div class="routes">
        <h1>Product Routes</h1>
        <div class="items">
            <div class="method">POST</div>
            <div class="route">/product</div>
            <div class="body">
                {
                    name: {
                        type: String,
                        required: true,
                    },
                    category: {
                        type: String,
                        required: true,
                    },
                    images: {
                        max: 2,
                        required: true,
                        type: Array,
                        allowedTypes: ['jpg','png', 'gif', 'jpeg'],
                    },
                    description: {
                        type: String,
                        required: true
                    },
                    price: {
                        type: String,
                        required: true
                    },
                    totalQuantity: {
                        type: Number,
                        required: true
                    },
                    available: {
                        type: Boolean, <span class="comment">// Either true or false. Tells if a product is available or out of stock</span>
                        default: true
                    },
                    variations: {
                        type: Object,
                        default: {}  <span class="comment">// Empty object meaning this product has no variation</span>
                    },
                    vendorId: {
                        type: String, <span class="comment">// Id of the user uploading the product...Can be retried by using user._id - check user model 
                            for more info</span>
                    },
                    storeId:{
                        type: String, <span class="comment">// Id of the store where the product is uploaded from.</span>
                    }
                }
            </div>
            <div class="info">
                <p><b>NOTE</b>: Whenever a product is added, a Post concerning that product is also created</p>
            </div>
        </div>

        <div class="items">
            <div class="method">GET</div>
            <div class="route">/products/:userId <span class="comment">// Get all products belonging to a particular user --- userId here could also be called vendorId</span></div>
            <div class="body">
                <div class="data-body">
                    Response

                    <span class="comment">// It returns an array of all products belonging to a user</span>

                    [
                        {
                            _id,
                            category,
                            images, <span class="comment">// Array of image urls</span>
                            description,
                            price,
                            totalQuantity,
                            available,
                            variations,
                            reviews,
                            vendorId,
                            storeId,
                            createdAt,
                            updatedAt
                        }
                    ]
                </div>
            </div>
            <div class="info">
                <p><b>NOTE</b>: Role is the role of the user. <b>0</b> is regular customer, <b>1</b> is clothier, <b>2</b> is tailor, <b>3</b> is Admin</p>
            </div>
        </div>

        <div class="items">
            <div class="method">Get</div>
            <div class="route">/product/:id </div>
            <div class="body">
                <div class="response">
                    Response

                    <span class="comment">Returns an a single product</span>

                    {
                        _id,
                        category,
                        images, <span class="comment">// Array of image urls</span>
                        description,
                        price,
                        totalQuantity,
                        available,
                        variations,
                        reviews,
                        vendorId,
                        storeId,
                        createdAt,
                        updatedAt
                    }
                </div>
            </div>
            <div class="info">
                <p><b>NOTE</b>: The profile picture response is returned if the user has a profile picture, it was not required at signup but the user can upload a profile picture to the edit user route</p>
                <p>Also: <b>Address</b></p>
            </div>
        </div>
    </div>

    <!-- <img src="https://altire.s3.amazonaws.com/profileImage-1641247620970.jpg" alt="hgj" width="200"> -->
</body>
</html>